/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Header et footer */
header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Conteneur principal */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Contenu centré */
.content-center {
    text-align: center;
}

/* Boutons */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-weight: bold;
    margin-top: 10px;
}

form input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 80%;
    max-width: 400px;
}

/* Style de base du select */
select {
    width: 100%; /* S'adapte à la largeur de son conteneur */
    padding: 10px;
    border-radius: 5px; /* Coins arrondis */
    border: 1px solid #ccc; /* Bordure claire */
    background-color: #f9f9f9; /* Couleur de fond claire */
    font-size: 16px;
    color: #333; /* Texte sombre */
    transition: all 0.3s ease; /* Transition fluide pour les interactions */
  }
  
  /* Style au survol du select */
  select:hover {
    border-color: #777; /* Bordure plus foncée au survol */
    background-color: #e9e9e9; /* Fond plus sombre au survol */
  }
  
  /* Style pour focus (lorsque l'élément est sélectionné) */
  select:focus {
    outline: none; /* Retirer le contour par défaut */
    border-color: #0056b3; /* Bordure bleue */
    background-color: #fff; /* Fond blanc */
  }
  
  /* Style des options dans le select */
  option {
    padding: 10px; /* Espacement interne des options */
    background-color: #fff; /* Fond blanc */
    color: #333; /* Texte sombre */
    border: none; /* Pas de bordure */
  }
  
  /* Style au survol des options */
  option:hover {
    background-color: #f1f1f1; /* Fond clair au survol des options */
    color: #000; /* Texte noir */
  }
  